BorderPane {
    -fx-background-color: #1e1e31;
}
Pane{
    -fx-background-color: #1e1e31;
}

.texteMenu{
    -fx-text-alignment: center;
    -fx-font-weight:  bold;
}

.texteBlanc{
    -fx-fill: white ;
    -fx-font-family: "Agency FB";
    -fx-font-size:30;
}